*,
*::before,
*::after {
    box-sizing: border-box;
}

input,
button,
textarea {
    font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.wrapper__big {
    max-width: 1530px;
}

.wrapper__small {
    max-width: 1270px;
}

.row {
    display: flex;
}

.title {
    font-family: 'Berlingske Serif';
    font-weight: bold;
    font-size: 52px;
    text-align: center;
}

.text-underline {
    text-decoration: underline;
}

body {
    font-family: 'Graphik LCG';
    padding: 0;
    margin: 0;
    color: #202020;
}

.site-header {
    height: 110px;
    position: relative;
    z-index: 15;
    display: flex;
    align-items: center;
}

.site-header__page {
    background-color: #363537;
}

.site-header__wrapper {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
}

.site-logo {
    display: inline-flex;
    max-width: 248px;
    margin-right: 50px;
}

.site-header__yandex {
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
}

.site-header__yandex:before {
    content: '';
    display: inline-flex;
    width: 35px;
    height: 35px;
    background-image: url(images/yandex_header.png);
    margin-right: 10px;
}

.site-header__yandex svg {
    height: 23px;
    fill: #fccb8d;
    margin-left: 10px;
    margin-right: 5px;
}

.site-header__yandex--star {
    font-size: 16px;
    opacity: .5;
}

.site-header__contacts {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 468px;
    margin-left: auto;
}

.site-header__contacts:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #656566;
}

.site-header__contact {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    /* width: 50%;
    flex: 0 0 50%; */
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.site-header__contact:nth-child(odd) {
    margin-right: 20px;
}

.site-header__contact:before {
    content: '';
    width: 35px;
    height: 35px;
    border: 1px solid #767575;
    border-radius: 50%;
    margin-right: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
}

.site-header__phone:before {
    background-image: url(images/telephone.svg);
}

.site-header__whatsup::before {
    background-image: url(images/whatsup_wt.png);
}

.site-header__adres:before {
    background-image: url(images/pin.svg);
}

.site-header__email:before {
    background-image: url(images/email.svg);
}

.site-header__whatsup,
.site-header__email {
    margin-bottom: 0;
}

.site-header__callback {
    max-width: 282px;
    width: 100%;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #fff;
    background-color: #76c356;
    border-radius: 5px;
    margin-left: 28px;
}

.site-header:before {
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #363537;
    opacity: .8;
    position: absolute;
}

.burger {
    width: 54px;
    height: 54px;
    background: transparent;
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    border-radius: .25rem;
}

.burger .line {
    width: 20px;
    height: 2px;
    background: white;
    display: block;
    position: absolute;
    margin-left: -1px;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;
    border-radius: 5px;
}

.line-1 {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -7px, 0);
}

.line-2 {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, 0, 0);
}

.line-3 {
    -webkit-transform: translate3d(0, 7px, 0);
    transform: translate3d(0, 8px, 0);
}

.burger__open .line-1 {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
    transform: translate3d(0, 0, 0) rotate(45deg);
}

.burger__open .line-2 {
    -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
    transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.burger__open .line-3 {
    -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
    transform: translate3d(0, 0, 0) rotate(-45deg);
}

.site-main {
    position: relative;
}

.navigation {
    position: absolute;
    z-index: 11;
    width: 100%;
    top: 0px;
    right: 0;
    padding-top: 10px;
}

.navigation__front {
    top: 110px;
}

.navigation__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation__list a {
    display: inline-flex;
    padding: 10px 22px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    position: relative;
}

.navigation__list a:before {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, .1);
    content: "";
    transition: all .3s cubic-bezier(.34, .9, .7, 1);
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%
}

.navigation__list a:hover:before {
    color: inherit;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1)
}

.navigation__search img {
    width: 16px;
    height: 16px;
}

.navigation__sticky {
    position: sticky;
    height: 60px;
    top: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.navigation__sticky a {
    color: #202020;
}

.banner {
    height: 810px;
    margin-top: -110px;
    z-index: 9;
    position: relative;
    background-image: url('images/bkg-slider.png');
    /* background-position: center; */
    background-size: cover;
    /* background-position: center -145px; */
}


/* .banner::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #303030;
    opacity: .7;
} */

.banner__content {
    position: relative;
    z-index: 10;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 260px;
    text-align: center;
}

.banner__title {
    margin-bottom: 25px;
    line-height: 78px;
    font-size: 70px;
    color: #fff;
}

.divider {
    width: 120px;
    height: 5px;
    display: block;
    background: #fccb8d;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 20px;
}

.banner__divider {
    margin-bottom: 25px;
}

.banner__subtitle {
    font-family: 'Graphik LCG';
    font-size: 30px;
    color: #fff;
    margin-bottom: 90px;
}

.banner__button {
    margin-left: auto;
    margin-right: auto;
}

.banner__page {
    height: 590px;
    margin-top: 0;
}

.banner__icon {
    background-position: center;
}

.page__content--subtitle {
    font-family: 'Berlingske Serif';
    font-weight: 600;
    font-size: 36px;
    margin-top: 60px;
    margin-bottom: 35px;
}

.banner__page--content {
    padding-top: 255px;
    max-width: unset;
}

.bg-light {
    background-color: #f5f7f8;
}

.services {
    position: relative;
    z-index: 10;
    background: #fff;
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: -40px;
    padding-top: 60px;
    box-shadow: 0px 7px 19.4px 0.6px rgba(2, 12, 17, 0.12);
    margin-bottom: 70px;
    padding-bottom: 65px;
    padding-left: 60px;
    padding-right: 60px;
}

.services__divider {
    margin-bottom: 45px;
}

.services__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.services__col-3 {
    width: 33.333%;
    flex: 0 0 33.333%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
    transition: transform .3s;
}

.services__col-3:hover {
    transform: scale(1.05) translateY(-10px);
}

.services__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    width: 100%;
    height: 360px;
    box-shadow: 0px 9px 28.8px 1.2px rgba(32, 32, 32, 0.12);
}

.services__image {
    width: 100%;
    flex: 0 0 100%;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 280px;
    margin-bottom: 20px;
}

.services__image img {
    object-fit: cover;
    object-position: center;
    height: 280px;
}

.services__image--text {
    color: #fff;
    position: absolute;
    font-weight: 500;
    font-size: 28px;
    text-align: center;
}

.services__buy {
    text-align: center;
    text-align: center;
    font-size: 20px;
    transition: .3s;
    color: #202020;
    display: flex;
    align-items: center;
}

.services__buy svg {
    margin-left: 10px;
    transition: .3s;
}

.services__item:hover .services__buy {
    color: #76c356;
}

.services__item:hover svg {
    fill: #76c356;
}

.steps {
    padding-bottom: 70px;
}

.steps__row {
    justify-content: space-between;
}

.steps__arrow {
    height: 240px;
    display: flex;
    align-items: center;
}

.steps__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #e4e5e6;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    background-color: #fff;
    margin-bottom: 25px;
    transition: transform .3s;
}

.steps__col-4:hover .steps__icon {
    transform: scale(1.1);
}

.steps__text {
    color: #202020;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
    cursor: default;
}

.steps__button {
    position: relative;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
}

.steps__page {
    padding-top: 45px;
    background-color: #ebeced;
    border-top: 2px solid #dadada;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    max-width: 395px;
    width: 100%;
    color: #fff;
    font-size: 22px;
    background-color: #76c356;
    border-radius: 5px;
}

.button svg {
    fill: #fff;
    margin-left: 15px;
}

.lines {
    position: relative;
    display: flex;
    align-items: center;
}

.line {
    height: 1px;
    background-color: #dfe1e2;
    flex: 1;
}

.line__left {
    margin-right: 30px;
}

.line__right {
    margin-left: 30px;
}

.lines__steps {
    margin-top: 55px;
}

.lines__steps .line {
    background-color: #d6d7d8;
}

.payment {
    padding-top: 60px;
    padding-bottom: 15px;
}

.payment__row {
    padding-top: 25px;
}

.payment__divider {
    margin-bottom: 55px;
}

.payment__col-3 {
    max-width: 490px;
    width: 100%;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.payment__image {
    height: 250px;
}

.payment__col-divider {
    width: 30px;
    flex: 0 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment__line {
    display: flex;
    width: 1px;
    height: 100%;
    min-height: 455px;
    background-color: #e1e1e1;
}

.payment__title {
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 30px;
}

.payment__descr {
    font-weight: 200;
    color: #808080;
    font-size: 22px;
    line-height: 32px;
}

.rewiews {
    padding-top: 40px;
    padding-bottom: 40px;
}

.rewiews__row {
    /* align-items: center; */
}

.rewiews__divider {
    margin-bottom: 10px;
}

.rewiews__text {
    max-width: 620px;
    flex: 0 0 100%;
    width: 100%;
    padding-top: 75px;
}

.rewiews__text p {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 40px;
}

.rewiews__button {
    margin-top: 130px;
}

.rewiews__container {
    max-width: 562px;
    position: relative;
    margin-left: auto;
    padding-right: 30px;
    overflow: hidden;
    transform: translateX(30px);
    background-image: url(images/rewiews_bg.png);
    background-position: center;
}

.rewiews__slider {
    max-width: 532px;
    margin-right: unset;
    height: 614px;
    overflow: visible;
}

.rewiews__slider--item {
    position: relative;
    display: flex;
    justify-content: center;
    /* max-width: 370px; */
}

.rewiews__slider .swiper-slide img {
    max-width: unset;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 42px;
}

.rewiews-button-prev {
    left: 0;
    top: 46%;
}

.rewiews-button-next {
    right: 50px;
    top: 46%;
}

.swiper-button {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #b2b2b2;
    outline: none;
}

.swiper-button:after {
    content: none;
}

.swiper-button svg {
    width: 23px;
    height: 23px;
    fill: #b2b2b2;
}

.swiper-button-next svg {
    transform: rotate(180deg);
}

.consultation {
    background-image: url('images/consult_bg.jpg');
    min-height: 830px;
    background-size: cover;
    background-position: center;
    padding-top: 35px;
    padding-bottom: 70px;
    color: #fff;
}

.consultation__divider {
    margin-bottom: 60px;
}

.consultation__content {
    max-width: 430px;
    width: 100%;
    padding-top: 40px;
}

.consultation__heading {
    opacity: .4;
    font-size: 18px;
    margin-bottom: 25px;
}

.consultation__info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
}

.consultation__info--name {
    font-size: 25px;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 15px;
}

.consultation__info--post {
    font-weight: 200;
    font-size: 20px;
    margin-bottom: 15px;
}

.consultation__info--descr {
    font-size: 17px;
    opacity: .5;
    line-height: 25px;
}

.consultation__info img {
    max-width: 80px;
    width: 100%;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}

.consultation__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.consultation__list li {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
}

.consultation__list img {
    margin-right: 15px;
    fill: #f0c287;
    width: 27px;
    flex: 0 0 27px;
    height: 27px;
}

.form {
    max-width: 490px;
    width: 100%;
    background-color: #fff;
    padding: 35px;
    margin-left: auto;
    margin-right: 40px;
}

.form__label {
    color: #202020;
    font-size: 16px;
    font-weight: 500;
}

.form__input,
.form__select {
    display: flex;
    width: 100%;
    border-radius: 10px;
    padding-left: 30px;
    height: 45px;
    background-color: #f3f3f3;
    border: none;
    outline: none;
    margin-top: 10px;
    margin-bottom: 20px;
}

.form__select {
    color: #303030;
    font-style: italic;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('images/select_arrow.png');
    background-repeat: no-repeat;
    background-position: 390px center;
}

.form__select option {
    background-color: #f3f3f3;
    padding-top: 5px;
    padding-bottom: 5px;
}

.form__file {
    position: relative;
    display: flex;
    width: 100%;
    border-radius: 10px;
    padding-left: 30px;
    height: 45px;
    background-color: #f3f3f3;
    border: none;
    outline: none;
    margin-top: 10px;
    margin-bottom: 20px;
    align-items: center;
}

.form__file--text {
    font-style: italic;
    font-weight: 200;
    color: #b8b8b8;
}

.form__file--button {
    border: none;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #68563e;
    font-size: 14px;
    right: 0;
    background: #fccb8d;
    width: 150px;
    height: 45px;
    top: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.form__file--input {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
}

.form__submit {
    height: 50px;
    border: none;
    border-radius: 5px;
    width: 100%;
    background-color: #76c356;
    color: #fff;
    font-size: 18px;
}

.form__submit:after {
    content: '';
}

.faq {
    padding-top: 50px;
    min-height: 915px;
    padding-bottom: 70px;
    background-image: url(images/faq_bg.png);
}

.faq__item {
    position: relative;
    max-width: 738px;
    width: 100%;
    margin-bottom: 15px;
}

.faq__title {
    display: flex;
    align-items: center;
    height: 80px;
    max-width: 738px;
    width: 100%;
    background-color: #fff;
    color: #202020;
    font-size: 24px;
    padding-left: 30px;
    padding-right: 30px;
    transition: .3s;
    font-weight: 500;
}

.faq__query {
    fill: #f1f2f3;
    transition: .3s;
    margin-right: 20px;
}

.faq__title:hover .faq__query {
    fill: #83c967;
}

.faq__arrow {
    margin-left: auto;
    fill: #83c967;
}

.faq__content {
    position: relative;
    padding: 30px;
    color: #202020;
    font-size: 16px;
    line-height: 26px;
    display: none;
}

.faq__item--open .faq__query {
    fill: #83c967;
}

.faq__item--open .faq__arrow {
    transform: rotate(-90deg);
}

.faq__item--open .faq__content {
    display: block;
}

.faq__text {
    position: relative;
    z-index: 10;
}

.faq__content:before {
    content: '';
    background: #eaeaea;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: .8;
    position: absolute;
}

.zen {
    padding-top: 50px;
}

.zen__container {
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
    overflow: hidden;
}

.zen__slider {
    padding-bottom: 70px;
    overflow: visible;
}

.zen__slider .swiper-slide-duplicate,
.zen__slider .swiper-slide {
    opacity: 0;
    transition: opacity 1s;
}

.zen__slider .swiper-slide-prev,
.zen__slider .swiper-slide-active,
.zen__slider .swiper-slide-next {
    opacity: 1;
}


/* .zen__slider .swiper-slide-duplicate {
    opacity: 0;
} */

.zen__item {
    box-shadow: 0px 9px 28.8px 1.2px rgba(32, 32, 32, 0.12);
    height: 512px;
}

.zen__content {
    padding: 25px;
    background-color: #fff;
}

.zen__date {
    color: #c3c3c3;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 15px;
}

.zen__date:before {
    content: '';
    display: inline-flex;
    width: 15px;
    height: 15px;
    background-image: url(images/svg/calendar.svg);
    margin-right: 6px;
}

.zen__title {
    font-size: 21px;
    line-height: 27px;
    color: #202020;
    margin-bottom: 15px;
}

.zen__descr {
    color: #202020;
    line-height: 24px;
    margin-bottom: 15px;
    font-weight: 200;
}

.zen__link {
    color: #76c356;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    font-weight: 500;
}

.zen__link svg {
    fill: #76c356;
    margin-left: 10px;
}

.zen__link--border {
    border-bottom: 1px solid #76c356;
}

.contacts {
    border-top: 3px solid #fccb8d;
    height: 420px;
    overflow: hidden;
}

.contacts__block {
    margin-left: auto;
    margin-right: 100px;
    max-width: 520px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.contacts__list {
    display: flex;
    flex-wrap: wrap;
}

.contacts__item {
    font-size: 16px;
    color: #202020;
    font-weight: 500;
    width: 50%;
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.contacts__item::before {
    content: '';
    width: 35px;
    height: 35px;
    border: 1px solid #ebebeb;
    border-radius: 50%;
    margin-right: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
}

.contacts__phone:before {
    background-image: url(images/svg/telephone.svg);
}

.contacts__adres:before {
    background-image: url(images/svg/pin.svg);
}

.contacts__email:before {
    background-image: url(images/svg/email.svg);
}

.contacts__whatsup:before {
    background-image: url(images/whatsup.png);
    border: none;
    background-size: 30px;
    border-radius: 0;
}

.contacts__divider {
    height: 1px;
    background-color: #dadada;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.contacts__item--full {
    position: relative;
    display: flex;
    align-items: center;
    flex: 0 0 100%;
    color: #202020;
    text-decoration: underline;
    font-weight: 500;
    margin-bottom: 10px;
}

.contacts__list .contacts__item--full:last-child {
    margin-bottom: 0;
}

.contacts__item--full:before {
    content: '';
    width: 35px;
    height: 35px;
    border: none;
    margin-right: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contacts__way:before {
    background-image: url(images/svg/way.svg);
}

.contacts__taxi:before {
    background-image: url(images/svg/taxi.svg);
}

.contacts__sms:before {
    background-image: url(images/svg/smartphone.svg);
}

.contacts__inst:before {
    background-image: url(images/svg/instagram.svg);
}

.contacts__map {
    width: 50%;
    flex: 0 0 50%;
}

.table {
    max-width: 928px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
}

.table__head,
.table__row {
    display: flex;
}

.table__head .table__col:first-child,
.table__row .table__col:first-child {
    border-right: 2px solid #f5f7f8;
}

.table__head {
    background-color: #fccb8d;
}

.table__col {
    height: 60px;
    align-items: center;
    width: 50%;
    display: flex;
    padding-left: 30px;
    font-size: 18px;
}

.table__head {
    color: #5c4b35;
    font-size: 22px;
    font-weight: 500;
    border-bottom: 2px solid #f5f7f8;
}

.table__row {
    border-bottom: 2px solid #f5f7f8;
}

.table .table__row:nth-child(even) {
    background: #fff;
}

.table .table__row:nth-child(odd) {
    background: #ebeced;
}

.table__col--bold {
    font-weight: 600;
}

.page__row {
    display: flex;
    padding-top: 48px
}

.page__content {
    flex: 1;
    max-width: calc(100% - 342px);
    padding-bottom: 70px;
}

.page__title {
    font-size: 42px;
}

.page__content p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 35px;
}

.page__content--text ul {
    list-style: none;
    font-size: 18px;
    padding-left: 0;
}

.page__content--text li {
    margin-bottom: 10px;
}

.page__alert {
    box-shadow: 0px 9px 28.8px 1.2px rgba(32, 32, 32, 0.08);
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin-bottom: 55px;
    padding-left: 60px;
    padding-right: 60px;
}

.page__alert svg {
    height: 55px;
    width: 55px;
    flex: 0 0 55px;
    margin-right: 30px;
}

.page__alert--text {
    color: #202020;
    font-size: 22px;
    margin-bottom: 0;
}

.page__services {
    display: flex;
    flex-wrap: wrap;
    margin-left: -13.5px;
    margin-right: -13.5px;
    margin-bottom: 55px;
}

.page__col-3 {
    width: 25%;
    flex: 0 0 25%;
    padding-left: 13.5px;
    padding-right: 13.5px;
}

.page__col-4 {
    width: 33.333%;
    flex: 0 0 33.333%;
    padding-left: 13.5px;
    padding-right: 13.5px;
}

.page__item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 280px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 9px 28.8px 1.2px rgba(32, 32, 32, 0.12);
    margin-bottom: 27px;
}

.page__item:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: #303030;
    opacity: 0.65;
    z-index: 5;
    transition: opacity .3s;
}

.page__item:hover {
    cursor: pointer;
    box-shadow: 0px 9px 29.64px 0.36px rgba(32, 32, 32, 0.25);
}

.page__item:hover::before {
    opacity: 0.4;
}

.page__item--col3 {
    height: 240px;
}

.page__item img {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.page__item--title {
    position: relative;
    z-index: 15;
    color: #fff;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}

.page__button {
    max-width: 100%;
    width: auto;
    padding-left: 95px;
    padding-right: 95px;
}

.page__button--mobile {
    display: none;
}

.sidebar {
    max-width: 260px;
    width: 100%;
    margin-left: 82px;
}

.sidebar__section {
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 9px 28.8px 1.2px rgba(32, 32, 32, 0.08);
    padding: 25px;
    margin-bottom: 20px;
}

.sidebar__title {
    color: #202020;
    font-size: 24px;
    font-family: 'Berlingske Serif';
    font-weight: 600;
    margin-bottom: 15px;
}

.sidebar__divider {
    height: 3px;
    display: block;
    background: #fccb8d;
    margin-bottom: 24px;
    max-width: 60px;
}

.sidebar__item {
    display: flex;
    border-bottom: 1px solid #dcdcdc;
}

.sidebar__time {
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 15px;
    font-weight: 300;
}

.sidebar__item--bold {
    font-weight: 500;
}

.sidebar__descr {
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
}

.sidebar__subtitle {
    font-size: 12px;
    text-transform: uppercase;
    opacity: .5;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sidebar__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar__list a {
    display: flex;
    font-size: 14px;
    color: #202020;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dcdcdc;
}

.sidebar__list li:last-child a {
    border-bottom: 0;
}

.icon-row {
    display: flex;
    align-items: center;
}

.icon-row img {
    max-width: 100%;
    margin-left: 44px;
}

.icon-tabs {
    max-width: 705px;
    width: 100%;
    box-shadow: 0px 9px 28.8px 1.2px rgba(32, 32, 32, 0.08);
}

.icon-tab__link {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #fff;
    height: 70px;
    border-bottom: 1px solid #d0d0d0;
    padding-left: 25px;
    padding-right: 25px;
}

.icon-tab:last-child .icon-tab__link {
    border-bottom: 0;
}

.icon-tab__circle {
    position: relative;
    flex: 0 0 32px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f2f3;
    border-radius: 50%;
    margin-right: 15px;
}

.icon-tab__circle:before {
    content: '';
    position: absolute;
    display: block;
    width: 16px;
    height: 4px;
    background: #fff;
}

.icon-tab__circle:after {
    content: '';
    position: absolute;
    display: block;
    height: 16px;
    width: 4px;
    background: #fff;
}

.icon-tab__arrow {
    fill: #83c967;
    margin-left: auto;
    transition: transform .3s;
}

.icon-tab__link span {
    color: #202020;
    font-size: 20px;
    font-weight: 500;
}

.icon-tab__content {
    background-color: #eeeeee;
    padding: 25px;
    display: none;
}

.icon-tab__content p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
}

.icon-tab__content p:last-child {
    margin-bottom: 0;
}

.icon-tab__active .icon-tab__circle {
    background-color: #83c967;
}

.icon-tab__active .icon-tab__circle:after {
    content: none;
}

.icon-tab__active .icon-tab__content {
    display: block;
}

.icon-tab__active .icon-tab__arrow {
    transform: rotate(-90deg);
}

.site-footer {
    background-color: #202020;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 320px;
}

.site-footer__logo img {
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.site-footer__nav {
    display: flex;
    justify-content: center;
}

.site-footer__nav a {
    position: relative;
    height: 28px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    line-height: 28px;
    text-transform: uppercase;
}

.site-footer__nav a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 1px;
    background-color: #fff;
    opacity: .2;
}

.site-footer__nav a:first-child:before {
    content: none;
}

.site-footer__divider {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #fff;
    display: block;
    height: 1px;
    width: 100%;
    opacity: .6;
}

.site-footer__descr {
    text-align: center;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.site-footer__descr p {
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    opacity: .6;
}

.privacy {
    display: block;
    text-align: center;
    font-size: 12px;
    text-decoration: underline;
    color: #fddcb3;
}

.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #303030;
    opacity: .8;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal__show {
    display: flex;
}

.modal__body {
    position: relative;
    z-index: 25;
    max-width: 490px;
    width: 100%;
    background-color: #fff;
    padding-top: 30px;
}

.modal__close {
    width: 30px;
    height: 30px;
    position: absolute;
    right: -60px;
    top: -30px;
}

.modal__title {
    font-family: 'Berlingske Serif';
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.modal__divider {
    width: 120px;
    height: 5px;
    display: block;
    background: #fccb8d;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 23px;
    margin-top: 0px;
}

.modal__form {
    padding-top: 0;
}

@media(max-width: 1600px) {
    .wrapper {
        max-width: 1300px;
    }
    .site-logo {
        max-width: 220px;
        margin-right: 30px;
    }
    .site-header__yandex {
        font-size: 18px;
    }
    .site-header__contact {
        font-size: 14px;
    }
    .site-header__contacts {
        max-width: 428px;
    }
    .site-header__callback {
        max-width: 228px;
        font-size: 18px;
    }
    .icon-row img {
        max-width: 350px;
        margin-left: 24px;
    }
}

@media(max-width: 1366px) {
    .site-header__contacts {
        max-width: 400px;
    }
    .site-header__contacts:after {
        content: none;
    }
    .site-header__callback {
        display: none;
    }
    .wrapper {
        max-width: 1140px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .services {
        margin-left: 30px;
        margin-right: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .steps__icon {
        width: 200px;
        height: 200px;
    }
    .steps__text {
        max-width: 200px;
        font-size: 24px;
    }
    .steps__arrow {
        height: 200px;
    }
    .steps__arrow img {
        max-width: 80%;
    }
    .contacts__block {
        margin-right: auto;
    }
    .icon-row {
        flex-wrap: wrap;
    }
    .icon-row img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 43px;
    }
}

@media(max-width: 1240px) {
    .page__content {
        max-width: calc(100% - 250px)
    }
    .sidebar {
        max-width: 250px;
        margin-left: 20px;
    }
    .zen__slider .swiper-slide-prev {
        opacity: 0;
    }
    .banner {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }
}

@media(max-width: 1140px) {
    .navigation__list a {
        padding: 10px 12px;
    }
    .contacts__block {
        padding-left: 15px;
    }
    .contacts__item {
        font-size: 14px;
        white-space: nowrap;
        width: 40%;
        flex: 0 0 40%;
    }
    .contacts__item:before {
        width: 30px;
        flex: 0 0 30px;
        height: 30px;
    }
    .site-footer__nav {
        flex-wrap: wrap;
    }
    .site-footer__nav a {
        font-size: 14px;
    }
}

@media(max-width: 1024px) {
    .title {
        font-size: 36px;
        line-height: 40px;
    }
    .banner__title {
        font-size: 40px;
        line-height: 48px;
    }
    .banner__subtitle {
        font-size: 24px;
        margin-bottom: 45px;
    }
    .banner__page {
        height: 220px;
    }
    .banner__page--content {
        padding-top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .burger {
        display: flex;
    }
    .site-header__yandex {
        display: none;
    }
    .site-header__wrapper {
        justify-content: space-between;
    }
    .site-header__contacts {
        margin-left: unset;
    }
    .site-header__contact {
        font-size: 12px;
    }
    .navigation {
        display: flex;
        padding-top: 0;
        height: 0;
        overflow: hidden;
        height: calc(100vh - 110px);
        background-color: #fff;
        transform: translateY(-100vh);
        transition: transform .3s;
    }
    .navigation__open {
        transform: translateY(0%);
        /* display: flex; */
        background-color: #fff;
        /* height: calc(100vh - 110px); */
    }
    .navigation__body {
        position: relative;
        height: 100vh;
        overflow: hidden;
    }
    .navigation__search {
        display: none!important;
    }
    .navigation .navigation__list {
        flex-direction: column;
        align-items: flex-start;
    }
    .navigation__list a {
        color: #202020;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 0;
        font-size: 13px;
    }
    .navigation__list .navigation__search {
        background-color: #76c356;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        border-radius: 3px;
        padding: 0;
    }
    .services__col-3 {
        width: 50%;
        flex: 0 0 50%;
    }
    .services__image--text {
        font-size: 22px;
    }
    .steps__row {
        flex-wrap: wrap;
    }
    .steps__row {
        justify-content: space-evenly;
    }
    .steps__arrow--hide {
        width: 100%;
        height: 0;
        opacity: 0;
    }
    .rewiews__row {
        flex-wrap: wrap-reverse;
    }
    .rewiews__text,
    .rewiews__button {
        margin-left: auto;
        margin-right: auto;
    }
    .rewiews__text {
        margin-top: 70px;
    }
    .rewiews__text p {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 20px;
    }
    .rewiews__container {
        margin-right: auto;
        margin-top: 30px;
    }
    .rewiews__button {
        margin-top: 35px;
    }
    .payment__row {
        flex-wrap: nowrap;
        overflow: scroll;
        padding-top: 0px;
    }
    .payment__image {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .payment__image img {
        max-width: 70%;
    }
    .payment__col-3 {
        max-width: 33.333%;
        flex: 0 0 33.333%;
    }
    .payment__title {
        font-size: 20px;
    }
    .payment__descr {
        font-size: 16px;
        line-height: 20px;
    }
    /* .payment__col-divider {
        width: 100%;
        flex: 0 0 100%;
        height: 30px;
    }
    .payment__line {
        min-height: 1px;
        height: 1px;
        width: 100%;
    } */
    .page__row {
        flex-wrap: wrap;
    }
    .page__content {
        max-width: 100%;
        flex: 0 0 100%;
        padding-bottom: 0px;
    }
    .sidebar {
        margin-left: 0;
        max-width: 100%;
    }
    .page__alert {
        margin-bottom: 15px;
    }
    .page__services {
        margin-bottom: 0;
    }
    .table {
        margin-bottom: 35px;
    }
    .icon-tabs {
        max-width: 100%;
    }
    .icon-row img {
        margin-top: 23px;
        margin-bottom: 23px;
    }
}

@media(max-width: 980px) {
    .consultation__row {
        flex-wrap: wrap;
    }
    .consultation__content {
        max-width: 490px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    .form {
        margin-right: auto;
    }
    .faq {
        min-height: auto;
    }
    .faq__item,
    .faq__title {
        max-width: 100%;
    }
    .zen__slider .swiper-slide-next {
        opacity: 0;
    }
    .zen__item {
        max-width: 425px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width: 768px) {
    .site-header__wrapper {
        flex-wrap: wrap;
    }
    .site-header__contacts {
        order: 1;
        max-width: 100%;
        width: 100%;
        flex: 0 0 100%;
        justify-content: space-between;
    }
    .site-header__contact {
        margin-bottom: 0;
        font-size: 10px;
    }
    .site-header__contact:nth-child(odd) {
        margin-right: unset;
    }
    .site-header__contact:before {
        width: 30px;
        height: 30px;
        margin-right: 6px;
    }
    .site-logo {
        order: 2;
        margin-right: 0;
        max-width: 150px;
        height: 45px;
    }
    .site-logo img {
        height: 45px;
    }
    .burger {
        order: 3;
    }
    .banner {
        height: 480px;
    }
    .banner__page {
        height: 220px;
    }
    .banner__content {
        padding-top: 180px;
    }
    .banner__page--content {
        padding-top: 0;
    }
    .banner__subtitle {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .title {
        font-size: 24px;
    }
    .banner__title {
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 10px;
    }
    .divider {
        margin-top: 10px;
        height: 3px;
        margin-bottom: 15px;
    }
    .banner__divider {
        margin-bottom: 15px;
    }
    .button {
        height: 40px;
        font-size: 14px;
        max-width: 220px;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .services {
        padding-top: 20px;
        margin-left: 15px;
        margin-right: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }
    .services__divider {
        margin-bottom: 25px;
    }
    .services__item {
        height: 230px;
    }
    .services__image {
        margin-bottom: 15px;
    }
    .services__image,
    .services__image img {
        height: 160px;
        width: 100%;
    }
    .services__image--text {
        font-size: 18px;
    }
    .services__buy {
        font-size: 14px;
    }
    .services__col-3 {
        width: 100%;
        flex: 0 0 100%;
        margin-bottom: 20px;
    }
    .steps {
        padding-bottom: 35px;
    }
    .steps__divider {
        margin-bottom: 0;
    }
    .steps__button {
        margin-top: 0;
    }
    .rewiews__text p {
        font-size: 16px;
        line-height: 18px;
    }
    .swiper-button {
        height: 45px;
        width: 45px;
    }
    .swiper-button svg {
        width: 13px;
        height: 13px;
    }
    .consultation__content {
        padding-top: 0;
    }
    .consultation__info {
        position: relative;
        /* padding-bottom: 50px; */
        margin-bottom: 20px;
        align-items: center;
    }
    .consultation__info--name {
        margin-bottom: 0;
    }
    .consultation__info--post,
    .consultation__info--descr {
        display: none;
    }
    /* .consultation__info--descr {
        position: absolute;
        bottom: 0;
        left: 0;
    } */
    .consultation__heading {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .consultation__list li {
        font-size: 12px;
    }
    .consultation__list img {
        width: 20px;
        flex: 0 0 20px;
        height: 20px;
    }
    .form {
        padding: 15px;
    }
    .form__label {
        font-size: 12px;
    }
    .form__input,
    .form__select {
        height: 40px;
        padding-left: 15px;
    }
    .faq {
        padding-top: 20px;
    }
    .faq__title {
        font-size: 14px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .faq__query {
        flex: 0 0 25px;
        margin-right: 10px;
    }
    .faq__content {
        padding: 10px;
        font-size: 14px;
        line-height: 18px;
    }
    .zen__title {
        font-size: 18px;
        line-height: 22px;
    }
    .contacts {
        height: auto;
    }
    .contacts__row {
        flex-wrap: wrap;
    }
    .contacts__block {
        max-width: 100%;
        padding-right: 15px;
    }
    .contacts__map {
        height: 250px;
        width: 100%;
        flex: 0 0 100%;
    }
    .page__alert {
        padding-left: 15px;
        padding-right: 15px;
    }
    .page__alert svg {
        margin-right: 15px;
        width: 32px;
        flex: 0 0 32px;
        height: 32px;
    }
    .page__alert p {
        font-size: 16px;
    }
    .page__col-4 {
        flex: 0 0 100%;
        width: 100%;
    }
    .page__col-3 {
        flex: 0 0 100%;
        width: 100%;
    }
    .page__item {
        height: 130px;
        margin-bottom: 15px;
    }
    .page__item img {
        width: 100%;
    }
    .page__item--title {
        font-size: 20px;
    }
    .table__col {
        padding-left: 10px;
        font-size: 12px;
    }
    .page__content--text p {
        font-size: 16px;
        line-height: 24px;
    }
    .page__content--text ul {
        font-size: 16px;
    }
    .page__content--subtitle {
        font-size: 24px;
    }
    .modal__close {
        right: 0;
        top: -60px;
    }
}

@media(max-width: 625px) {
    .button {
        height: 40px;
        font-size: 14px;
        max-width: 250px;
    }
    .site-header__adres {
        display: none;
    }
    .steps__row {
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow: scroll;
        margin-right: -15px;
        margin-left: -15px;
    }
    .steps__icon {
        width: 125px;
        height: 125px;
    }
    .steps__icon img {
        max-width: 35%;
    }
    .steps__col-4 {
        width: 100%;
        margin-bottom: 25px;
        margin-right: 20px;
        padding-top: 20px;
        padding-left: 15px;
    }
    .steps__text {
        font-size: 16px;
        line-height: 1;
    }
    .steps__icon {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }
    .steps__arrow {
        display: none;
    }
    .payment {
        padding-top: 20px;
    }
    .payment__col-3 {
        max-width: 200px;
        flex: 0 0 200px;
    }
    .payment__image {
        height: 175px;
    }
    .payment__title {
        font-size: 16px;
    }
    .payment__descr {
        font-size: 14px;
        line-height: 18px;
    }
    .payment__line {
        min-height: 300px;
    }
}

@media(max-width: 540px) {
    body,
    html {
        position: relative;
        width: 100%;
        overflow-x: hidden;
    }
    .services {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .contacts__item {
        width: 100%;
        flex: 0 0 100%;
    }
    .rewiews__container {
        overflow: visible;
        transform: translateX(0);
        /* max-width: 100%; */
        padding-right: 0;
        /* margin-right: -15px;
        margin-left: -15px; */
        margin-left: -15px;
        margin-right: -15px;
        width: calc(100% + 30px);
        background-position: 40%;
        height: 400px;
        background-size: cover;
    }
    .swiper-container {
        overflow: hidden;
    }
    .rewiews__slider {
        height: 400px;
    }
    .rewiews__slider .swiper-slide img {
        max-width: 160px;
        width: 100%;
        transform: translateX(0);
    }
    .rewiews__buttons {
        display: flex;
        justify-content: center;
        bottom: -50px;
        position: absolute;
        left: 0;
        right: 0;
        justify-content: center;
        max-width: 110px;
        width: 100%;
        margin: 0 auto;
    }
    .rewiews-button-next {
        right: 0;
    }
    .zen__container {
        overflow: visible;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 160px;
    }
    .zen__slider {
        padding-bottom: 0;
    }
    .zen__buttons {
        display: flex;
        justify-content: center;
        bottom: 80px;
        position: absolute;
        left: 0;
        right: 0;
        justify-content: center;
        max-width: 170px;
        width: 100%;
        margin: 0 auto;
    }
}

@media(max-width: 420px) {
    .site-header__email {
        display: none;
    }
}

@media(max-width: 280px) {
    .site-header__contacts {
        justify-content: center;
    }
    .site-header__whatsup {
        display: none;
    }
}