.cart__banners {
    margin-bottom: 100px;
    position: relative;
    height: 635px;
}

.cart__banners .banners__banner {
    height: 635px;
}

.cart__banners .banner__content {
    margin-bottom: 38px;
}

.cart__banners .banner__heading {
    margin-top: 0;
    margin-bottom: 25px;
}

.cart__banners:after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 1.5px;
    width: 100%;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: .5;
}

.cart__banners .slick-dots {
    bottom: 90px;
}

.cart__banners .slick-dots button {
    text-indent: unset;
    background: transparent;
    opacity: 1;
}

.cart__banners .slick-dots button span {
    margin-left: 4px;
}

.banners__dots .slick-dots li:after {
    left: 15px;
}

.cart__banners .banners__slider {
    border: none;
}

.banner__text {
    color: #fff
}

.spy-body {
    background: #161616;
}

.spy-header {
    position: relative;
    margin-bottom: 85px;
}

.spy-banner {
    height: 755px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(0deg, #161616 20%, rgba(22, 22, 22, 0) 100%), url(assets/img/spy/banner-clt.jpg)
}

.spy-banner__title {
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 70px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 35px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 505px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 280px;
}

.spy-banner__button {
    width: 192px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #CC0000;
    border-radius: 3px;
    font-weight: bold;
    font-size: 11px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.spy-banner__descr {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.5;
    text-align: center;
}

.spy-section {
    position: relative;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.spy-subtitle {
    font-weight: 550;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-bottom: 7px;
}

.spy-descr {
    font-weight: 300;
    font-size: 10px;
    line-height: 13px;
    color: #FFFFFF;
    opacity: 0.5;
}

.section-01 {
    height: 761px;
    background-image: url(assets/img/spy/bg01.png);
}

.section-01 .container,
.section-02 .container,
.section-03 .container,
.section-04 .container {
    position: relative;
    height: 100%;
}

.overlay-top1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: linear-gradient(180deg, #161616 0%, rgba(22, 22, 22, 0) 100%);
    height: 400px;
}

.overlay-bottom1 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    z-index: 11;
    background: linear-gradient(0deg, #161616 45%, rgba(22, 22, 22, 0) 100%);
}

.number-01 {
    bottom: 110px;
    position: absolute;
    left: -160px;
    font-size: 250px;
}

.girl-01 {
    position: absolute;
    bottom: 41px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 10;
}

.spy-section__number {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 350px;
    line-height: 350px;
    color: #3A3A3A;
}

.section-content01 {
    max-width: 477px;
    position: absolute;
    bottom: 130px;
    right: -115px;
    z-index: 9;
}

.section-content__title {
    margin-top: 0;
    margin-bottom: 17px;
    font-style: normal;
    font-weight: 200;
    font-size: 64px;
    line-height: 64px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-content__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    opacity: 0.7;
}

.plane-01-block {
    max-width: 105px;
    position: absolute;
    left: -10px;
    top: 230px;
    z-index: 1;
}

.plane-01-block img {
    transform: translate(60%, -120px);
}

.plane-01 {
    position: absolute;
    left: 100px;
    right: 0;
    top: -60px;
    bottom: 0;
    margin: auto;
    z-index: 1;
    max-width: 1050px;
}

.car-01-block {
    max-width: 105px;
    position: absolute;
    left: -50px;
    bottom: 20px;
    z-index: 11;
}

.car-01-block img {
    transform: translate(90%, -118px);
}

.car-01 {
    position: absolute;
    left: -70px;
    bottom: 10px;
    margin: auto;
    z-index: 2;
    max-width: 750px;
}

.girl-01-block--case {
    max-width: 105px;
    position: absolute;
    left: 290px;
    bottom: 70px;
    z-index: 11;
}

.girl-01-block--gradient:before {
    content: '';
    position: absolute;
    width: 108px;
    height: 171px;
    left: -42px;
    background: #050505;
    filter: blur(30px);
}

.girl-01-block--gradient .absolute-descr__content {
    position: relative;
}

.girl-01-block--case img {
    transform: translate(90%, -118px);
}

.girl-01-block--glasses {
    max-width: 105px;
    position: absolute;
    left: 365px;
    top: 155px;
    z-index: 11;
}

.girl-01-block--glasses img {
    transform: translate(90%, -95px);
}

.girl-01-block--watches {
    max-width: 105px;
    position: absolute;
    right: 300px;
    top: 210px;
    z-index: 11;
}

.girl-01-block--watches img {
    transform: translate(-110%, -85px)
}

.girl-01-block--dress {
    max-width: 105px;
    position: absolute;
    right: 282px;
    top: 350px;
    z-index: 11;
}

.girl-01-block--dress img {
    transform: translate(-110%, -85px)
}

.cart-slider {
    padding: 0;
}

.cart-slider .slick-slide {
    margin: 0 .35%;
}

.cart-slider__item {
    overflow: hidden;
    height: 335px;
    background: #2f2f2f;
    background-image: url('assets/img/spy/sliderbg.png');
    background-position: center;
    color: #fff;
    position: relative;
}

.cart-slider__collection .cart-slider__item {
    height: 300px;
}

.cart-slider__collection .slick-slide {
    margin: 0 .5%;
}


/* .cart-slider__overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
    opacity: 0.5;
    filter: blur(150px);
    width: 220.1px;
    height: 145px;
} */

.cart-slider__item img {
    display: block;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.cart-slider__title {
    font-weight: 550;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 10px;
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    margin-bottom: 0;
}

.cart-slider__price {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.3;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    margin-bottom: 0;
}

.slick-dots {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    margin: 0;
    list-style: none;
    margin-top: 50px;
}

.slick-dots li {
    margin-right: 10px;
}

.slick-dots button {
    padding: 0;
    border: none;
    color: #fff;
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50px;
    text-indent: -9999px;
    opacity: 0.2;
}

.slick-active button {
    opacity: 1;
    background: #CC0000;
}

.cart__controls {
    position: absolute;
    top: 40%;
    opacity: 0.5;
}

.cart__controls--prev {
    left: -50px;
}

.cart__controls--next {
    right: -50px;
}

.section-02 {
    background-image: url(assets/img/spy/section02-bg.png);
    background-position: center;
    background-size: cover;
    height: 1051px;
}

.girl-02 {
    position: absolute;
    bottom: 41px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 15;
}

.girl-02-block--dress {
    max-width: 105px;
    position: absolute;
    left: 330px;
    top: 395px;
    z-index: 11;
}

.girl-02-block--dress img {
    transform: translate(90%, -120px);
}

.girl-02-block--shoes {
    max-width: 105px;
    position: absolute;
    right: 265px;
    top: 595px;
    z-index: 11;
}

.girl-02-block--shoes img {
    transform: translate(-110%, -85px)
}

.girl-02-block--shoes1 {
    max-width: 105px;
    position: absolute;
    right: 363px;
    z-index: 11;
    bottom: 10px;
}

.girl-02-block--shoes1 img {
    transform: translate(-110%, -85px)
}

.overlay-top2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: linear-gradient(180deg, #161616 0%, rgba(22, 22, 22, 0) 100%);
    height: 385px;
}

.overlay-bottom2 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 160px;
    z-index: 11;
    background: linear-gradient(0deg, #161616 20%, rgba(22, 22, 22, 0) 100%);
}

.girl-02 {
    position: absolute;
    bottom: 41px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 15;
}

.number-02 {
    position: absolute;
    bottom: 310px;
    left: -150px;
}

.car-02-block {
    max-width: 105px;
    position: absolute;
    left: -50px;
    bottom: 310px;
    z-index: 11;
}

.car-02-block img {
    transform: translate(90%, -82px);
}

.car-02 {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 205px;
    z-index: 1;
}

.section-content02 {
    max-width: 477px;
    position: absolute;
    top: 400px;
    right: -150px;
    z-index: 9;
}

.section-03 {
    position: relative;
    height: 900px;
    background-image: url(assets/img/spy/bg03.png);
}

.number-03 {
    position: absolute;
    bottom: 310px;
    left: -150px;
}

.section-content03 {
    max-width: 477px;
    position: absolute;
    top: 400px;
    right: -150px;
    z-index: 9;
}

.overlay-top3 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: linear-gradient(180deg, #161616 0%, rgba(22, 22, 22, 0) 100%);
    height: 70px;
}

.overlay-bottom3 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 155px;
    z-index: 11;
    background: linear-gradient(0deg, #161616 60%, rgba(22, 22, 22, 0) 100%)
}

.girl-03-block--parachute {
    max-width: 105px;
    position: absolute;
    left: 100px;
    top: 85px;
    z-index: 11
}

.girl-03-block--parachute img {
    transform: translate(105%, -70px)
}

.girl-03-block--dress {
    max-width: 105px;
    position: absolute;
    left: 375px;
    z-index: 11;
    bottom: 250px;
}

.girl-03-block--dress img {
    transform: translate(105%, -70px)
}

.girl-03 {
    position: absolute;
    bottom: 41px;
    left: 100px;
    right: 0;
    margin: 0 auto;
    z-index: 10;
}

.section-04 {
    position: relative;
    height: 943px;
    background-image: url(assets/img/spy/bg04.png);
}

.section-content04 {
    max-width: 477px;
    position: absolute;
    top: 166px;
    right: -150px;
    z-index: 10;
}

.overlay-top4 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: linear-gradient(180deg, #161616 0%, rgba(22, 22, 22, 0) 100%);
    height: 371px;
}

.overlay-bottom4 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 268px;
    z-index: 11;
    background: linear-gradient(0deg, #161616 20%, rgba(22, 22, 22, 0) 100%);
}

.number-04 {
    position: absolute;
    bottom: 310px;
    left: -150px;
}

.girl-04 {
    position: absolute;
    bottom: 41px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 10;
}

.girl-04-block--helmet {
    max-width: 105px;
    position: absolute;
    left: 345px;
    z-index: 11;
    top: 265px;
}

.girl-04-block--helmet img {
    transform: translate(105%, -70px)
}

.girl-04-block--dress {
    max-width: 105px;
    position: absolute;
    left: 275px;
    z-index: 11;
    top: 455px;
}

.girl-04-block--dress img {
    transform: translate(105%, -70px)
}

.girl-04-block--gloves {
    max-width: 105px;
    position: absolute;
    left: 250px;
    z-index: 11;
    bottom: 110px;
}

.girl-04-block--gloves img {
    transform: translate(105%, -70px)
}

.bike-04 {
    position: absolute;
    right: 0;
    bottom: 0px;
    left: 300px;
}

.title {
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0;
}

.cart-mobile {
    display: none;
}

.cart-info {
    height: 135px;
    position: relative;
    margin-bottom: 50px;
    /* opacity: 0.5;
    border: 0.5px solid #FFFFFF; */
}

.cart-info::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5px;
    background: rgb(255 255 255 / 0.5);
    opacity: 0.5;
}

.cart-title__title {
    margin-bottom: 12px;
}

.cart-title__article {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.5;
}

.choice {
    display: flex;
    position: relative;
    justify-content: space-around;
}

.choice:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: 0.5px;
    background: rgb(255 255 255 / 50%);
    opacity: 0.5;
}

.choice:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 0.5px;
    background: rgb(255 255 255 / 50%);
    opacity: 0.5;
}

.choice__title {
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.5;
}

.choice__list {
    display: flex;
}

.color {
    width: 28px;
    flex: 0 0 28px;
    margin-right: 7.5px;
    height: 28px;
    border-radius: 1px;
}

.color-dark {
    background: #333333;
    border: 3px solid #525252;
}

.color-white {
    background: #fff;
}

.color-red {
    background: #F42210;
}

.choice__model {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    opacity: 0.5;
    display: flex;
    align-items: center;
    height: 35px;
    border: 0.5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 1px;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.choice__model:last-child {
    margin-right: 0;
}

.cart-price__title {
    margin-bottom: 7px;
}

.cart-price__descr {
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.cart-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
    color: #FFFFFF;
    opacity: 0.7;
}


/* .cart-bgimage {
    background-image: url(assets/img/spy/car-bg.png);
} */

.cart-bgimage img {
    max-width: 100%;
}

.cart-banner {
    padding: 50px 45px;
    margin-bottom: 100px;
    margin-top: 100px;
    height: 208px;
    border-radius: 10px;
    background-image: url(assets/img/spy/banner-bg.png);
}

.cart-banner__title {
    margin-bottom: 20px;
}

.cart-banner__label {
    position: relative;
    padding-left: 37px;
    display: flex;
    align-items: center;
}

.cart-banner__label:before {
    content: '';
    position: absolute;
    left: 0;
    background-image: url('assets/img/spy/flag.svg');
    width: 27.5px;
    height: 13px;
}

.cart-banner__content {
    display: flex;
    justify-content: space-between;
}

.cart-banner__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    opacity: 0.7;
    max-width: 50%;
}

.cart-banner__button {
    background: #3D3D3D;
    border-radius: 3px;
    height: 55px;
    width: 210px;
    display: flex;
    margin-left: 40px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.cart-delivery {
    padding-bottom: 40px;
    position: relative;
    z-index: 10;
}

.cart-delivery::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5px;
    background: rgb(255 255 255 / .5);
    opacity: 0.5;
}

.cart-delivery__title {
    width: 100%;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 16px;
}

.cart-delivery__labels {
    display: flex;
    justify-content: space-between;
}

.delivery-label__cart {
    align-items: flex-start;
    height: 16px;
}

.cart-btn__order {
    border: 0.5px solid #FA403A;
    box-sizing: border-box;
    border-radius: 3px;
    display: inline-flex;
    height: 55px;
    align-items: center;
    justify-content: center;
    max-width: 265px;
    width: 100%;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    z-index: 10;
    transition: .3s;
}

.cart-btn__order:hover {
    background-color: #FA403A;
    color: #fff;
    text-decoration: none;
}

.row-bg {
    position: relative;
    margin-top: 100px;
}

.row-bg__car {
    position: relative;
    z-index: 10;
    max-width: 100%;
}

.row-bg__shine {
    position: absolute;
    z-index: 9;
    /* left: 0; */
    right: 0;
    bottom: 100px;
    max-width: 540px;
}

.form-aside__images {
    position: relative;
    padding-top: 30px;
}

.form-aside__images .row-bg__shine {
    max-width: 100%;
    bottom: 25px;
}

.form-aside__title {
    font-weight: 300;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.form-aside__mobile-text {
    display: none;
}

.form-aside__head {
    list-style: none;
    padding: 0;
    margin-bottom: 50px;
}

.form-aside__head li {
    display: flex;
    justify-content: space-between;
}

.form-aside__head a {
    font-size: 14px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #D80027;
}

.form-aside__head p,
.form-aside__bottom p {
    font-weight: normal;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.form-aside__head span,
.form-aside__bottom span {
    opacity: 0.5;
}

.divider {
    margin-top: 40px;
    margin-bottom: 40px;
    background: #fff;
    height: 0.5px;
    width: 100%;
    opacity: 0.3;
}

.form-aside__text p {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    opacity: 0.7;
}

.payment__title {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 30px;
    margin-top: 60px;
}

.payment__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.payment__list li {
    flex: 1;
    margin-right: 25px;
}

.payment__list li:last-child {
    margin-right: 0;
}

.payment__block {
    background: #1F1F1F;
    border-radius: 3px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-bottom: 0px;
}

.payment__block:hover,
.active-payment {
    text-decoration: none;
    color: #fff;
    border-bottom: 1.5px solid #E5030B;
}

.payment__block img {
    margin-right: 12px;
}

.payment__disabled {
    opacity: 0.3;
}

.payment__disabled .payment__block:hover {
    pointer-events: none;
    cursor: default;
    border-bottom: none;
}

.spy-form {
    background: #1F1F1F;
    border-radius: 10px;
    padding: 50px;
    min-height: 630px;
    max-width: 760px;
    margin-left: auto;
}

.spy-form__title {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-top: 0;
}

.spy-form__label {
    position: relative;
    margin: 0;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    flex: 1;
}

.label-active:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 44px;
    height: 3px;
    background-color: #D80027;
}

.spy-form__text {
    position: absolute;
    top: 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #888888;
    z-index: 1;
}

.spy-form__text span {
    color: #E5030B;
}

.spy-form__input {
    position: relative;
    padding-bottom: 13px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #fff;
    position: relative;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    z-index: 10;
}

.spy-form__input:focus::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 44px;
    background-attachment: red;
    left: 0;
    border: 1px solid red;
}

.spy-form__input::placeholder {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #888888;
}

.input-border:after {
    content: '';
    left: 0;
    bottom: 0;
    width: 44px;
    height: 2px;
    background: #D80027;
    position: absolute;
}

.spy-form__input::-webkit-input-placeholder::after {
    content: '*';
}

.spy-form__input {}

.spy-form__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.spy-form__total p {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 0;
}

.divider__form {
    margin-top: 25px;
    margin-bottom: 25px;
}

.spy-form__delivery {
    color: #fff;
}

.spy-form__delivery_title {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 10px!important;
}

.delivery-label {
    display: flex;
    align-items: center;
    color: #fff;
    margin-bottom: 15px;
}

.delivery-label__cart {
    margin-bottom: 0;
}

.delivery-label input[type="radio"] {
    position: relative;
    border: 1px solid #525252;
    box-sizing: border-box;
    border-radius: 3px;
    width: 20px;
    flex: 0 0 20px;
    height: 20px;
    background-color: #1F1F1F;
    margin-right: 9px;
    outline: none;
    -webkit-appearance: none;
}

.delivery-label input[type="radio"]:checked:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url('assets/img/spy/checkbox.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.delivery-label p {
    margin-bottom: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.delivery-label p:last-child {
    margin-left: auto;
    opacity: 0.7;
}

.not-that p:last-child {
    color: #7A7A7A;
    opacity: 0.7;
}

.spy-form__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coupon__input {
    background: #3B3B3B;
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    color: #fff;
    height: 32px;
    min-width: 222px;
    padding-left: 10px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #fff;
    margin-right: 10px;
}

.coupon {
    display: flex;
}

.coupon__input::placeholder {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #888888;
}

.coupon__submit {
    border: 1px solid rgba(229, 229, 229, 0.19);
    box-sizing: border-box;
    border-radius: 3px;
    height: 32px;
    font-size: 13px;
    line-height: 13px;
    text-align: right;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    min-width: 105px;
}

.total {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 0;
}

.total span {
    display: inline-block;
    font-weight: bold;
    margin-right: 20px;
}

.spy-footer {
    border-top: 1px solid #313131;
    margin-top: 80px;
    padding: 0 80px;
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spy-footer p,
.spy-footer a {
    margin: 0;
    color: #888888;
    font-size: 14px;
}

.spy-form__sum {
    display: none;
}

@media(max-width: 1024px) {
    .cart__banners {
        margin-bottom: 33px;
    }
    .cart__banners .slick-dots button span {
        display: none;
    }
    .cart__banners {
        height: 450px;
    }
    .cart__banners .banners__banner {
        height: 450px;
        background-size: cover;
    }
    .cart__banners .slick-dots {
        bottom: 40px;
    }
    .cart__banners .banners__banner:after {
        bottom: 0;
    }
    .cart__banners:after {
        content: none;
    }
    .cart__banners .banners__dots .slick-dots li {
        margin: 0 10px;
    }
    .cart__banners .banners__dots .slick-dots li svg,
    .cart__banners .banners__dots .slick-dots .banners__dot {
        width: 17px;
        height: 25px;
    }
    .banners__dots .slick-dots li:after {
        content: none;
    }
    .spy-banner {
        padding-left: 28px;
        padding-right: 28px;
        background-image: linear-gradient(0deg, #161616 0%, rgba(22, 22, 22, 0) 100%), url(assets/img/spy/banner-clt.jpg);
        background-position: center;
        background-size: cover;
    }
    .spy-banner__title {
        font-weight: bold;
        font-size: 32px;
        line-height: 110%;
        letter-spacing: 0.03em;
        text-align: left;
        padding-top: 300px;
    }
    .spy-banner__button {
        margin-left: unset;
    }
    .girl-01 {
        left: unset;
        right: 8px;
        bottom: 0;
        max-width: 170px;
    }
    .plane-01 {
        max-width: 550px;
        left: 0;
    }
    .car-01 {
        left: 0;
        max-width: 316px;
    }
    .section-01 {
        height: 460px;
    }
    .overlay-bottom1 {
        background: linear-gradient(0deg, #161616 0%, rgba(22, 22, 22, 0) 55%);
    }
    .girl-01-block--gradient::before {
        content: none;
    }
    .spy-section__number {
        left: unset;
        bottom: unset;
        font-size: 144px;
        line-height: 1;
        right: 8px;
        top: 0;
        letter-spacing: -0.09em;
        color: #FFFFFF;
        opacity: 0.08;
    }
    .section-content01,
    .section-content02,
    .section-content03,
    .section-content04 {
        bottom: unset;
        right: unset;
        z-index: 9;
        left: 28px;
        top: 0;
    }
    .section-content__title {
        font-weight: bold;
        font-size: 30px;
        line-height: 33px;
        margin-bottom: 10px;
        max-width: 170px;
    }
    .absolute-descr__dot {
        height: 5px;
        width: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
        border-radius: 50px;
    }
    .absolute-descr__dot:before {
        content: '';
        position: absolute;
        width: 11px;
        height: 11px;
        background: #FFFFFF;
        border-radius: 50%;
        opacity: 0.2;
    }
    .absolute-descr__content {
        display: none;
    }
    .absolute-descr--show .absolute-descr__content {
        display: flex;
        flex-wrap: wrap;
    }
    .absolute-descr--show .absolute-descr__content:before {
        content: '';
        position: absolute;
        background: #000000;
        opacity: 0.6;
        border-radius: 5px;
        width: 100%;
        height: 100%;
    }
    .spy-subtitle,
    .spy-descr {
        padding-left: 8px;
        padding-right: 8px;
        position: relative;
    }
    .spy-subtitle {
        padding-top: 8px;
        margin-bottom: 3px;
    }
    .spy-descr {
        padding-bottom: 8px;
    }
    .plane-01-block {
        left: 100px;
        top: 170px;
        z-index: 10;
    }
    .car-01-block {
        left: 120px;
        bottom: 70px;
    }
    .girl-01-block--case {
        left: 215px;
        bottom: 60px;
    }
    .girl-01-block--case .absolute-descr__dot,
    .absolute-descr--show .absolute-descr__dot {
        background: #D80027;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    }
    .girl-01-block--case .absolute-descr__dot:before,
    .absolute-descr--show .absolute-descr__dot::before {
        background: #D80027;
    }
    .girl-01-block--glasses {
        left: 310px;
        top: 180px;
    }
    .girl-01-block--watches {
        right: 60px;
    }
    .girl-01-block--watches .absolute-descr__dot {
        margin-left: auto;
        margin-bottom: 10px;
    }
    .girl-01-block--glasses .absolute-descr__content {
        position: absolute;
        left: -110px;
        bottom: 10px;
    }
    .girl-01-block--dress {
        display: none;
    }
    .absolute-descr--show img {
        display: none;
    }
    .section-02 {
        height: 550px;
        margin-top: 77px;
    }
    .number-02 {
        margin-top: -15px;
    }
    .girl-02 {
        max-width: 108px;
    }
    .car-02 {
        left: 28px;
        right: 28px;
        max-width: 350px;
        bottom: 150px;
    }
    .car-02-block {
        display: none;
    }
    .girl-02-block--dress {
        left: 45%;
        top: 270px;
        z-index: 17;
    }
    .girl-02-block--dress .absolute-descr__content {
        position: absolute;
        width: 108px;
        right: 10px;
        bottom: 10px;
    }
    .girl-02-block--shoes {
        top: 330px;
        z-index: 20;
        right: 35%;
    }
    .girl-02-block--shoes1 {
        right: 50%;
        z-index: 20;
        bottom: 75px;
    }
    .section-03 {
        height: 600px;
        background-position: center;
        background-size: 500px 400px;
        background-repeat: no-repeat;
    }
    .number-03 {
        margin-top: -15px;
    }
    .girl-03 {
        height: 464px;
        left: -50px;
    }
    .girl-03-block--parachute {
        left: unset;
        top: 175px;
        right: 35%;
    }
    .girl-03-block--parachute .absolute-descr__content {
        width: 108px;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .girl-03-block--dress {
        left: 50%;
        bottom: 175px;
    }
    .girl-03-block--dress .absolute-descr__content {
        width: 108px;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    .section-04 {
        height: 530px;
        background-position: center;
        background-size: cover;
    }
    .girl-04 {
        height: 330px;
    }
    .bike-04 {
        right: 0;
        bottom: 41px;
        left: 0;
        max-width: 100%;
    }
    .girl-04-block--helmet {
        left: unset;
        right: 35%;
        top: 180px;
    }
    .girl-04-block--helmet .absolute-descr__content {
        position: absolute;
        width: 108px;
    }
    .girl-04-block--dress {
        left: unset;
        top: 310px;
        right: 40%;
    }
    .girl-04-block--gloves {
        left: 30%;
        top: 415px;
    }
    .cart-slider04 {
        margin-bottom: 200px;
    }
    .section-content__text {
        max-width: 190px;
        height: 36px;
        overflow: hidden;
    }
    .slick-dots {
        margin-top: 25px;
    }
    .form-aside .divider {
        display: none;
    }
    .form-aside__title {
        text-align: center;
        margin-bottom: 15px;
    }
    .form-aside__mobile-text {
        display: block;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.7;
        max-width: 262px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 32px;
    }
    .form-aside__head {
        position: relative;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 0;
        margin-right: -15px;
        margin-left: -15px;
        padding-left: 40px;
        padding-right: 40px;
        border-bottom: 1px solid #313131;
        border-top: 1px solid #313131;
    }
    .form-aside__head:before {
        content: '';
        position: absolute;
        top: 0;
        background-image: url(assets/img/spy/mobile_arrow.svg);
        width: 10px;
        height: 5px;
        background-position: center;
        left: 0;
        right: 0;
        display: block;
        margin: 0 auto;
        width: 32px;
        height: 32px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #131313;
        top: -15px;
        z-index: 9;
        border-radius: 50px;
    }
    /* .form-aside__head:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 0.2px;
        opacity: 0.5;
        background: #fff;
    } */
    .form-aside__text {
        display: none;
    }
    .spy-form__bottom {
        flex-direction: column-reverse;
        margin-left: -40px;
        margin-right: -40px;
        background: #131313;
        padding-bottom: 30px;
        border-bottom: 1px solid #313131;
    }
    .coupon {
        flex-wrap: wrap;
        padding-left: 40px;
        padding-right: 40px;
    }
    .coupon__input {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .coupon__input,
    .coupon__submit {
        width: 100%;
        height: 40px;
    }
    .payment__list {
        flex-wrap: wrap;
    }
    .payment__list li {
        flex: 0 0 100%;
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .spy-form {
        position: relative;
        margin: 0 -15px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 110px;
        padding-bottom: 0;
    }
    .spy-form__title {
        position: absolute;
        top: 0;
        height: 60px;
        left: 0;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 0;
        background: #131313;
    }
    .delivery-label input[type="radio"] {
        width: 17px;
        flex: 0 0 17px;
        height: 17px;
    }
    .spy-form__delivery_title {
        background: #131313;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        opacity: 1;
    }
    .spy-form__delivery {
        margin-left: -40px;
        margin-right: -40px;
        padding-bottom: 38px;
        padding-top: 110px;
        padding-left: 40px;
        padding-right: 40px;
        position: relative;
    }
    .spy-form__delivery:after {
        content: '';
        position: absolute;
        background-image: url(assets/img/spy/mobile_red_arrow.svg);
        width: 32px;
        height: 32px;
        background-color: #161616;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50px;
        bottom: -16px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .row__mobile-line {
        position: relative;
    }
    .row__mobile-line:after {
        content: '';
        position: absolute;
        background-image: url(assets/img/spy/mobile_red_arrow.svg);
        width: 32px;
        height: 32px;
        background-color: #161616;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50px;
        bottom: -16px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .row__mobile-line:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: -25px;
        right: -25px;
        height: 0.5px;
        background-color: #F42210;
    }
    .spy-form__delivery:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0.5px;
        background-color: #F42210;
    }
    .delivery-label {
        white-space: nowrap;
        margin-bottom: 25px;
    }
    .delivery-label:last-child {
        margin-bottom: 0;
    }
    .delivery-label p {
        font-size: 14px;
    }
    .not-that p:last-child,
    .delivery-label p:last-child {
        margin-left: unset;
        opacity: 1;
    }
    .not-that p {
        opacity: 0.3;
    }
    .not-that p:last-child:before,
    .delivery-label p:last-child:before {
        content: '|';
        margin-left: 5px;
        margin-right: 5px;
    }
    .spy-form__total {
        display: none;
    }
    .spy-form__sum {
        display: flex;
        flex-wrap: wrap;
        margin-left: -40px;
        margin-right: -40px;
        background: #131313;
        padding: 25px 40px;
    }
    .spy-form__sum_title {
        max-width: 145px;
    }
    .spy-form__sum_price {
        white-space: nowrap;
    }
    .spy-form__sum_item {
        margin-bottom: 15px;
        display: flex;
        flex: 0 0 100%;
        width: 100%;
        justify-content: space-between;
    }
    .spy-form__sum_item:last-child {
        margin-bottom: 0;
    }
    .spy-form__sum p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 0;
        color: #FFFFFF;
        opacity: 0.5;
    }
    .total {
        border-top: 1px solid #313131;
        border-bottom: 1px solid #313131;
        padding-left: 40px;
        padding-right: 40px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        height: 75px;
        align-items: center;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    .total span {
        font-weight: 300;
        margin: unset;
    }
    .divider__form {
        display: none;
    }
    .spy-footer .container {
        flex-wrap: wrap;
        height: auto;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .payment {
        padding-top: 50px;
        padding-bottom: 40px;
    }
    .payment__title {
        display: none;
    }
    .cart-title__title {
        font-size: 28px;
        line-height: 110%;
        text-align: center;
        letter-spacing: 0.03em;
    }
    .cart-mobile {
        display: block;
    }
    .cart-mobile__title {
        font-weight: 300;
        font-size: 28px;
        line-height: 110%;
        text-align: center;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 15px;
    }
    .cart-mobile__text {
        font-weight: 300;
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.7;
        max-width: 262px;
        margin-left: auto;
        margin-right: auto;
    }
    .cart-mobile__images {
        position: relative;
        margin-bottom: 50px;
    }
    .cart-mobile__images img {
        max-width: 100%;
    }
    .cart-mobile__bg {
        position: absolute;
        bottom: 40px;
        z-index: 9;
    }
    .cart-mobile__car {
        position: relative;
        z-index: 10;
    }
    .cart-mobile__price {
        font-weight: 300;
        font-size: 24px;
        line-height: 110%;
        /* or 26px */
        text-align: center;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 17px;
    }
    .cart-mobile__article {
        font-weight: 300;
        font-size: 12px;
        line-height: 100%;
        /* identical to box height, or 12px */
        text-align: center;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        opacity: 0.7;
        margin-bottom: 35px;
    }
    .cart-mobile__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #951D13;
        font-weight: normal;
        font-size: 16px;
        line-height: 100%;
        height: 60px;
        text-align: center;
        color: #FFFFFF;
        margin-left: -15px;
        margin-right: -15px;
    }
    .cart-info {
        height: auto;
        margin-bottom: 0;
    }
    .choice {
        flex-wrap: wrap;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .choice:before,
    .choice:after {
        content: none;
    }
    .choice__block {
        flex: 0 0 100%;
        width: 100%;
    }
    .choice__title {
        position: relative;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 100%;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.5;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid rgb(255 255 255 / .2);
        margin-bottom: 0;
        margin-left: -15px;
        margin-right: -15px;
        cursor: pointer;
    }
    .choice__title:after {
        content: '';
        position: absolute;
        background-image: url(assets/img/spy/mobile_arrow.svg);
        width: 10px;
        height: 5px;
        background-position: center;
        left: 0;
        right: 0;
        display: block;
        margin: 0 auto;
        width: 32px;
        height: 32px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #161616;
        bottom: -15px;
        z-index: 9;
        border-radius: 50px;
    }
    .choice__title--open {
        border-bottom: none;
    }
    .choice__title--open:after {
        content: none;
    }
    .choice__list {
        position: relative;
        display: none;
        justify-content: center;
        background: #1C1C1C;
        padding-top: 37px;
        padding-bottom: 37px;
        margin-left: -15px;
        margin-right: -15px;
    }
    .choice__list--show {
        display: flex;
    }
    .choice__list:before {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        height: 0.5px;
        background-color: #F42210;
    }
    .choice__list--show:after {
        content: '';
        position: absolute;
        background-image: url(assets/img/spy/mobile_red_arrow.svg);
        width: 32px;
        height: 32px;
        background-color: #161616;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50px;
        bottom: -16px;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 1;
    }
    .cart-title,
    .cart-price,
    .row-bg,
    .cart-btn__order,
    .cart-info::after {
        display: none;
    }
    .cart-delivery {
        padding-bottom: 0;
    }
    .cart-delivery__col {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .cart-delivery__labels {
        flex-direction: column;
        background: #1C1C1C;
        padding-top: 33px;
        padding-bottom: 38px;
        width: calc(100% + 30px);
        margin-left: -15px;
        margin-right: -15px;
    }
    .cart-delivery__labels label {
        max-width: 250px;
        /* display: block; */
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .cart-delivery__title {
        height: 73px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        font-size: 14px;
        line-height: 100%;
        text-align: center;
        color: #FFFFFF;
        opacity: 1;
        margin-bottom: 0;
        cursor: pointer;
    }
    .cart-delivery__none {
        display: none;
    }
    .cart-delivery::before {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        height: 0.5px;
        background-color: #F42210;
    }
    .cart-delivery::after {
        content: '';
        position: absolute;
        background-image: url(assets/img/spy/mobile_red_arrow.svg);
        width: 32px;
        height: 32px;
        background-color: #161616;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50px;
        bottom: -16px;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 1;
    }
    .cart-delivery--close .cart-delivery__title {
        opacity: .5;
    }
    .cart-delivery--close:before {
        background-color: rgb(255 255 255 / .2);
        opacity: 0.5;
    }
    .cart-delivery--close:after {
        content: '';
        position: absolute;
        background-image: url(assets/img/spy/mobile_arrow.svg);
        width: 10px;
        height: 5px;
        background-position: center;
        left: 0;
        right: 0;
        display: block;
        margin: 0 auto;
        width: 32px;
        height: 32px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #161616;
        bottom: -15px;
        z-index: 9;
        border-radius: 50px;
    }
    .cart__banners .banner__content {
        display: none;
    }
    .cart-banner {
        padding-left: 0;
        height: auto;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        background: #161616;
        margin-bottom: 60px;
        margin-top: 60px;
    }
    .cart-banner__title {
        font-weight: 300;
        font-size: 28px;
        line-height: 110%;
        text-align: center;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        margin-bottom: 25px;
    }
    .cart-banner__content {
        flex-direction: column;
    }
    .cart-banner__text {
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;
        font-weight: normal;
        font-size: 14px;
        line-height: 160%;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.7;
        margin-bottom: 43px;
    }
    .cart-banner__label {
        position: relative;
        padding-left: 37px;
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        max-width: 248px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 13px;
        border-bottom: 0.5px solid rgb(255 255 255 / .2);
        width: 100%;
        justify-content: center;
    }
    .cart-banner__label:before {
        left: 35px;
    }
    .cart-banner__button {
        background: #951D13;
        margin-left: -15px;
        margin-right: -15px;
        width: calc(100% + 30px);
        height: 60px;
        border-radius: 0;
    }
    .cart-slider05__title {
        font-weight: 300;
        font-size: 28px;
        line-height: 110%;
        text-align: center;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .spy-footer {
        display: none;
    }
    .spy-footer__cart {
        display: flex;
        height: auto;
        flex-direction: column-reverse;
        border-top: 0;
        padding-left: 0;
        padding-right: 0;
        margin-top: 100px;
    }
    .spy-footer__cart p {
        padding-top: 20px;
        padding-bottom: 15px;
        font-weight: 300;
        font-size: 14px;
        line-height: 121%;
        text-align: center;
        color: #888888;
        opacity: 0.6;
        max-width: 203px;
        margin-left: auto;
        margin-right: auto;
    }
    .spy-footer__cart a {
        border-bottom: 1px solid #313131;
        padding-bottom: 20px;
        display: flex;
        width: 100%;
        justify-content: center;
        font-size: 14px;
        line-height: 121%;
        text-align: right;
        color: #888888;
    }
}

@media(max-width: 576px) {
    .cart-slider {
        margin-left: -15px;
        margin-right: -15px;
        height: 210px;
    }
    .cart-slider__item {
        height: 190px;
        opacity: 0.5;
        transition: all 0.3s;
    }
    .cart-slider__collection .cart-slider__item {
        height: 190px;
    }
    .slick-current .cart-slider__item {
        height: 210px;
        background: #353535;
        border-radius: 7px;
        opacity: 1;
    }
    .cart-slider__item img {
        max-width: 125px;
    }
    .cart-slider__title {
        font-weight: 550;
        font-size: 12px;
        line-height: 100%;
        bottom: 42px;
        text-align: center;
        color: #FFFFFF;
    }
    .cart-slider__price {
        font-weight: 550;
        font-size: 12px;
        line-height: 100%;
        bottom: 20px;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.3;
    }
}